* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 2px rgb(109, 108, 108);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 20px 12vw;
  max-width: 25vw;
}

.image {
  margin-bottom: 20px;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  padding-left: 8px;
}

.subtitle {
  margin-bottom: 10px;
  padding-left: 8px;
}

.storyline {
  padding: 8px;
}

.read-more {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}

.link-to {
  list-style-type: none;
  text-decoration: none;
}


@media screen and ( max-width : 500px ) {

  .card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 2px rgb(109, 108, 108);
    display: flex;
    flex-flow: column nowrap;
    margin: 20px auto;
    max-width: 80vw;
  }

}
