* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 25vw;
  margin: 20px 12vw;
  box-shadow: 2px 2px 3px 2px rgb(109, 108, 108);
  border-radius: 3px;
  background-color: white;
  justify-content: space-between;
}

.image {
  width: 100%;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  padding-left: 8px;
}

.subtitle {
  margin-bottom: 10px;
  padding-left: 8px;
}

.storyline {
  padding: 8px;
}

.read-more {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.link-to {
  text-decoration: none;
  list-style-type: none;
}


@media screen and ( max-width : 500px ) {

  .card {
    display: flex;
    flex-flow: column nowrap;
    max-width: 80vw;
    margin: 20px auto;
    box-shadow: 2px 2px 3px 2px rgb(109, 108, 108);
    border-radius: 3px;
    background-color: white;
  }

}
