.loading-circle {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 5px solid #fc88cf;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin-top: 200px;
  margin-left: 320px;
  animation: spin 0.5s infinite linear;
}

.loading {  
  position: absolute;
  width: 2rem;
  height: 2rem;  
  border-radius: 100%;
  margin-top: 130px;
  margin-left: 220px;
  text-decoration: solid;
  color: #fc88cf;
  font-size: 50px;
  font-weight: 900;  
}

.loading.display {
  visibility: visible;
}

.loading-circle.display {
  visibility: visible;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}