/* .loading-circle {
  border: 5px solid #fc88cf;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin-left: 320px;
  margin-top: 200px;
  position: absolute;
  height: 2rem;
  animation: spin 0.5s infinite linear;
  width: 2rem;
}

.loading {
  border-radius: 100%;
  position: absolute;  
  margin-top: 130px;
  margin-left: 220px;
  text-decoration: solid;
  color: #fc88cf;
  font-size: 50px;
  font-weight: 900;
  height: 2rem;
  width: 2rem;
}

.loading.display {
  visibility: visible;
}

.loading-circle.display {
  visibility: visible;
}

@keyframes spin {
  from {

    transform: rotate(0deg);

  }
  to {

    transform: rotate(360deg);

  }
  Lint de Css é uma merda... afff! 
} */
