.form {
  background-color: white;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.form > div:last-of-type {
  align-self: center;
}

.form label {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.form button {
  background-color: #5cb85c;
  border: none;
  border-radius: 0.25em;
  color: white;
  font-weight: 600;
  padding: 0.5em;
}
