.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: solid 1px;
  margin: 20px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
}
