body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.card {
  background-color: pink;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  min-height: 200px;
  width: 500px;
}

.card-title {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  min-height: 100px;
  width: 500px;
}

.card-story {
  margin-top: 10px;
}

.card-link {
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.containerOfCards {
  display: flex;
  flex-wrap: wrap;
}
