body {
  background-color: whitesmoke;
  box-sizing: border-box;
  text-align: center;
}

.title {
  padding: 30px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  margin: 30px;
  padding: 10px;
}

.movie-card {
  background-color: lavender;
  border-radius: 10px;
  border-style: groove;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 15px;
  width: 400px;
}

img {
  border-radius: 20px;
}

.link {
  background: #b46d02;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  background: #b46d027e;
}
