body {
  align-items: center;
  background-color: whitesmoke;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  justify-content: space-evenly;
}

.mapped-movie {
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  height: auto;
  margin: 20px 0;
  padding: 10px;
  width: 500px;
}

.img-movie {
  height: auto;
  width: 100%;
}
